                                             /* Shared Styles */
*{margin: 0;}
.quicksand{font-family: "Quicksand", serif; font-optical-sizing: auto; font-weight: 400; font-style: normal;}
nav{max-width: 1440px; margin: auto;}
.b-1{border-radius: 12px; color: white; font-size: 1.25rem; font-weight: 500; padding: 10px 48px; border: none;}
.bg-black{background-color: black;}
.bg-orange{background-color: orange;}
.orange{color: orange;}
.skyblue{color: skyblue;}
.cyan{color: rgba(5, 212, 223, 1);}
.violet{color: rgba(93, 88, 239, 1);}
                                                  /* Nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav li, nav a{
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-t{
    font-size: 2rem;
}
.nav-i{
    display: none !important;
}
header hr{
    border: 1px solid orange;
}



@media screen and (max-width: 576px) {
    .nav-t,.nav-ul,nav .b-1{display: none;}
    .nav-i{display: block !important;}
    nav{margin: 0 16px;}

}