                                             /* Shared Styles */
*{margin: 0;}
.quicksand{font-family: "Quicksand", serif; font-optical-sizing: auto; font-weight: 400; font-style: normal;}
nav, section > div, footer > div{max-width: 1440px; margin: auto;}
.b-1{border-radius: 12px; color: white; font-size: 1.25rem; font-weight: 500; padding: 10px 48px; border: none;}
.bg-black{background-color: black;}
.bg-orange{background-color: orange;}
.bg-skyblue{background-color: skyblue;}
.bg-green{background-color: green;}
.bg-violet{background-color: rgba(93, 88, 239, 1);;}
.bg-purple{background-color: purple;}
.orange{color: orange;}
.skyblue{color: rgba(1, 172, 253, 1);}
.cyan{color: rgba(5, 212, 223, 1);}
.violet{color: rgba(93, 88, 239, 1);}
h2{font-size: 3rem;}
h4{font-size: 1.5rem;}
p{font-size: 1rem; color: rgba(128, 128, 128, 1); font-weight: 500;}
                                                  /* Nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav li, nav a{
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-t{
    font-size: 2rem;
}
.nav-i{
    display: none !important;
}
header hr{
    border: 1px solid orange;
    display: none;
}
                                                /* Banner */
.banner-t{
    font-size: 3.5rem;
}
.banner-p{
    font-size: 1.25rem;
    margin: 1.5rem auto;
}
.banner-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
                                            /* Curriculum */
.curriculum-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
    gap: 30px;
}
.curriculum-card{
    border-radius: 19px;
    border: none;
    padding: 55px 42px;
    background-color: rgb(255, 255, 255,0.7);
    box-shadow:  0 0px 28px 0.94px rgba(0, 0, 0, 0.05);
    width: 370px;
    height: 370px;
    background-color: white;
}
.card-1{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)60%, rgba(222, 245, 255, 1));
    border: 0.5px solid rgba(222, 245, 255, 1);
}
.card-2{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)60%,rgba(255, 244, 220, 1));
    border: 0.5px solid rgba(255, 244, 220, 1);
}
.card-3{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)60%,rgba(238, 225, 255, 1));
    border: 0.5px solid rgba(238, 225, 255, 1);
}
    .curriculum{
    text-align: center;
    background-image: url('../assets/bg.png');
    /* background-position: 0 45px; */
    padding: 60px 0;
    background-size: 100%;
}
.curriculum-card h4{
    margin: 32px auto;
}
.curriculum-card a{
    text-decoration: none;
    font-weight: 600;
}
.curriculum-card p{
    margin-bottom: 35px;
}
.curriculum-card img{
    width: 138px;
    height: 138px;
}
.curriculum-btn{
    color: white;
    background-color: orange;
    border-radius: 50%;
    border: none;
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 7px;
}
                                            /* Stories */
.stories-cards{
    display: grid;
    grid-template-columns: repeat(4,calc(25% - 15px));
    gap: 20px;
    margin: 80px auto ;
}
.stories-card{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
    text-align: left;
}
.stories-card img{ 
    border-radius: 16px 16px 0 0;}
.grid-1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.stories-card h6{
    margin: 15px 60px 35px 40px;
    font-size: 1.25rem;
    font-weight: 700;
}

.grid-1 h6{
    margin: 40px 40px 50px;
    font-size: 1.5rem;
}
.stories-card button{
    border-radius: 50px;
    border: none;
    position: relative;
    bottom: 20px;
    right: 40px;
    padding: 10px 20px;
    font-size: 1rem;
}
.stories-card p{
    margin: 0 75px 40px 40px ;
}
.grid-1 button{position: relative; right: 150px; padding: 15px 30px; bottom: 25px;}
.stories-card div{margin: 0 auto;}
.stories{
    background-image: url('../assets/bg.png'), linear-gradient(to bottom, white, rgba(254, 163, 1, 0.3));
    text-align: center;
    padding: 60px 0;
    background-size: 100%;
}
                                             /* Footer */
footer{
    background-color: green;
    color: white;
    padding: 125px 0 175px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.logo-text{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
footer h2{
    line-height: 30px;
    font-size: 2rem;
}
.logo-text img{
    width: 60px;
}
footer p{
    color: white;
    width: 400px;
}
footer ul{
    text-align: left;
    margin: 0;
    padding: 0;
}
footer li{
    list-style: none;
    margin: 20px 0;
}
footer a{
    text-decoration: none;
    color: white;
}
.logos{
    margin-top: 25px;
    display: flex;
    gap: 10px;
}




@media screen and (max-width: 576px) {
    .grid-1, .nav-t,.nav-ul,nav .b-1, .curriculum-btn{display: none;}
    .banner-div, .curriculum{padding:20px 10px;}
    .banner-t{font-size: 2rem;}
    .banner-p{font-size: 1rem;}
    h2{font-size: 2rem;}

    .nav-i{display: block !important;}
    nav{margin: 0 16px;}
    header hr{display: block;}

    .banner-div{display: flex; flex-direction: column-reverse; text-align: center; }
    .banner img{width: calc(100% - 10px);}

    .curriculum-cards{display: flex; flex-direction: column; margin-top: 20px;}
    .curriculum-card{width: calc(100% - 100px);}

    .stories-cards{display: grid; grid-template-columns: repeat(2, calc(50% - 10px)); margin: 20px 15px;}
    .stories-card h6{margin: 20px 15px;}
    .stories-card button{ position: relative; left: 1px;}

    .footer{display: flex; flex-direction: column; gap: 40px;}
    .footer-col{width: calc(100% - 45px); margin: auto;}
    footer{padding-bottom: 100px;}
    .logo-text{position: relative; right: 5px;}
}